<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Labels</key>
	<string>Average Activities Count
Questions
Answers
Comments
</string>
	<key>Text</key>
	<string>By offsetting the bars by half of the width, you can stack them side by side.
</string>
</dict>
</plist>
